body {
    font-family: 'Chivo', sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5625rem;
    color: hsla(224, 40%, 83%, 1);
    background-color: hsla(224, 35%, 11%, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 48rem) {
    body {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.container {
    width: 23.4375rem;
    text-align: center;
    padding-bottom: 5.875rem;
}

@media screen and (min-width: 48rem) {
    .container {
        width: 48rem;
        text-align: left;
        background-image: url(../assets/tablet/image-host.jpg), url(../assets/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 30.6875rem 47.9375rem, 14.5rem 6.5rem;
        background-position: 17.3125rem 0, 1.875rem 57.5rem;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 90rem) {
    .container {
        width: 90rem;
        text-align: left;
        background-image: url(../assets/desktop/bg-pattern-dots.svg), url(../assets/desktop/image-host.jpg);
        background-repeat: no-repeat, no-repeat;
        background-size: 14.5rem 6.5rem, 55.5rem 40rem;
        background-position: 75.5rem 44.875rem, 34.5rem 8.125rem;
    }
}

.logo_header {
    /* width: 8.4281rem; */
    height: 3.5rem;
    margin: 3.875rem 7.5rem 0;
}

@media screen and (min-width: 48rem) {
    .logo_header {
        margin: 3.125rem 2.4375rem 0;
    }
}

@media screen and (min-width: 90rem) {
    .logo_header {
        margin: 6.375rem 10.3125rem 0;
    }
}

@media screen and (min-width: 48rem) {
    .main_container {
        width: 39.6875rem;
        height: 31.8125rem;
        background-color: hsla(224, 35%, 11%, 1);
        margin: 9.5rem 2.4375rem 16.0625rem;
        padding-top: 5.8125rem;
    }
}

@media screen and (min-width: 90rem) {
    .main_container {
        width: 45.1875rem;
        height: 31.8125rem;
        background-color: hsla(224, 35%, 11%, 1);
        margin: 6.4375rem 10.3125rem 8.125rem;
        padding: 5.5rem 3.625rem 0 0;
    }
}

.main_header {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2.375rem;
    color: hsla(157, 74%, 61%, 1);
    text-transform: uppercase;
    margin: 3.5625rem 1.5rem 0;
}

@media screen and (min-width: 48rem) {
    .main_header {
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 0;
    }
}

@media screen and (min-width: 90rem) {
    .main_header {
        font-size: 3.25rem;
        line-height: 3.875rem;
        margin: 0;
    }
}

.main_header span {
    color: hsla(0, 0%, 100%, 1);
}

.main_content {
    margin: 1rem 1.5rem 0;
}

@media screen and (min-width: 48rem) {
    .main_content {
        margin: 1.9375rem 11.875rem 0 0;
    }
}

@media screen and (min-width: 90rem) {
    .main_content {
        margin: 1.5rem 220px 0 0;
    }
}

@media screen and (min-width: 48rem) {
    .access {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
}

.podcast_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 3.75rem);
    height: 1.0625rem;
    margin: 2.0625rem 1.875rem 0;
}

@media screen and (min-width: 48rem) {
    .podcast_links {
        width: 33.5rem;
        height: 1.8125rem;
        margin: 4rem 0 0;
    }
}

.spotify {
    width: 3.5rem;
}

@media screen and (min-width: 48rem) {
    .spotify {
        width: 6rem;
    }
}

.apple {
    width: 2.8125rem;
}

@media screen and (min-width: 48rem) {
    .apple {
        width: 4.875rem;
    }
}

.google {
    width: 4.5625rem;
}

@media screen and (min-width: 48rem) {
    .google {
        width: 7.8125rem;
    }
}

.pocket {
    width: 4.8125rem;
}

@media screen and (min-width: 48rem) {
    .pocket {
        width: 8.0625rem;
    }
}

.email_input {
    display: block;
    font-size: .875rem;
    line-height: 1.75rem;
    padding-left: 2rem;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(224, 26%, 23%, 1);
    border: none;
    border-radius: 1.75rem;
    margin: 3rem 1.5rem 0;
    width: calc(100% - 3rem);
    height: 2.875rem;
}

@media screen and (min-width: 48rem) {
    .email_input {
        display: inline;
        margin: 2.5rem 0 0;
        width: 26.6875rem;
        height: 3.5rem;
    }
}

.form_btn {
    font-size: .875rem;
    line-height: 1.75rem;
    color: hsla(224, 35%, 11%, 1);
    background-color: hsla(157, 74%, 61%, 1);
    border: none;
    border-radius: 1.75rem;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    margin: 1rem 1.5rem 0;
    width: calc(100% - 3rem);
    height: 2.875rem;
}

.form_btn:hover {
    cursor: pointer;
    background-color: hsla(157, 100%, 85%, 1);
}

@media screen and (min-width: 48rem) {
    .form_btn {
        position: relative;
        left: -10.625rem;
        margin: 0;
        width: 10.125rem;
    }
}

.invalid_email {
    font-size: .75rem;
    line-height: .8925rem;
    color: hsla(0, 96%, 61%, 1);
    margin: .5rem 2rem 0;
}

.valid_email {
    font-size: .75rem;
    line-height: .8925rem;
    color: rgb(12, 150, 44);
    margin: .5rem 2rem 0;
}